---
const { offre } = Astro.props;
---

<div>
                <img src={offre.imgUrl} alt={offre.nomMaison} />
                <h2>{offre.nomMaison}</h2>
                <p>{offre.id}</p>
                <p>Adresse : {offre.adresse}</p>
                <ul>
                    <li>Prix : {offre.prix} €</li>
                    <li>{offre.nbChambres} Chambres</li>
                    <li>{offre.nbSdb} SDB</li>
                    <li>{offre.surface} m²</li>
                </ul>
                {offre.favori && <span class="favori">★ Favori</span>}
 </div>
